# Add local bin dir to PATH
export PATH="$HOME/bin:$PATH"

# Pager QOL improvements
export PAGER="less"
export LESS="-FRX"

# Remove % from end of files
export PROMPT_EOL_MARK=''

# AWS CLI
export AWS_PAGER=""

# Python pandas req
export LDFLAGS="-L$(brew --prefix libffi)/lib"
export CPPFLAGS="-I$(brew --prefix libffi)/include"
export PKG_CONFIG_PATH="$(brew --prefix libffi)/lib/pkgconfig"

# Set up global system prompt
export AI_SYSTEM_PROMPT=$(cat ~/.systems-prompt.md 2>/dev/null)

# pyenv
export PYENV_ROOT="$HOME/.pyenv"
command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"